<!-- layout/mobile-layout.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:fragment="layout(title, css, content, script)">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:replace="${title}">모바일</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <th:block th:replace="${css}"></th:block>
</head>

<body style="padding-bottom: 60px;">

<!-- 페이지 내용 -->
<main class="container" th:replace="${content}"></main>

<!-- ✅ 하단 네비게이션 바 include -->
<div th:replace="~{fragments/mobile-nav :: mobile-nav}"></div>

<script src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=9f617a077cfd2bb32f00a28ce18d3226&libraries=services,geometry"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<th:block th:replace="${script}"></th:block>
</body>
</html>
